.first {
    height: 150px;
    background-color:darkslategray;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.first .content {
    text-align: center;
    padding-top: 5px;
    color:white;
}

.first .content h1 {
    font-weight: 500;
    text-shadow: 0px 1px 1px black;
}

.btn-info {
    background-color:darkgray;
}