<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders List</title>
    <link rel="stylesheet" href="/static/css/view_orders.css">
</head>
<body>
    <h1>Orders List</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Order Date</th>
                <th>Email</th>
                <th>Table Number</th>
                <th>Total</th>
                <th>Status</th>
                <th>Update Status</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.order_id }}</td>
                <td>{{ order.order_date }}</td>
                <td>{{ order.email }}</td>
                <td>{{ order.table_number }}</td>
                <td>£{{ '%.2f'|format(order.total) }}</td>
                <td>{{ order.order_status }}</td>
                <td>
                    <form action="/update-status/{{ order.order_id }}" method="POST">
                        <select name="status" onchange="this.form.submit()">
                            <option value="Order confirmed!" {% if order.order_status == 'Order confirmed!' %}selected{% endif %}>Order confirmed!</option>
                            <option value="The order is in the kitchen!" {% if order.order_status == 'The order is in the kitchen!' %}selected{% endif %}>The order is in the kitchen!</option>
                            <option value="The order is ready and will be with you shortly!" {% if order.order_status == 'The order is ready and will be with you shortly!' %}selected{% endif %}>The order is ready and will be with you shortly!</option>
                            <option value="The order has been delivered!" {% if order.order_status == 'The order has been delivered!' %}selected{% endif %}>The order has been delivered!</option>
                            <option value="The order has been delivered!" {% if order.order_status == 'The order has been Paid!' %}selected{% endif %}>The Order has been Paid!</option>
                        </select>
                    </form>
                </td>
                <td>
                    <form action="/delete-order/{{ order.order_id }}" method="POST">
                        <input type="hidden" name="order_id" value="{{ order.order_id }}">
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
