<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Order Times</title>
</head>
<body>
  <h2>Order Times</h2>
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Order Date</th>
        <th>Total</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
      <tr>
        <td>{{ order['order_id'] }}</td>
        <td>{{ order['order_date'] }}</td>
        <td>{{ order['total'] }}</td>
        <td>{{ order['order_status'] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>
