<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/update_menu.css">
    <title>Update Menu Item</title>
</head>
<body>
    <div class="content">
        <h1>Update Menu Item</h1>
        <form method="POST" action="/update-menu" id="update_menu_form" enctype="multipart/form-data">
            <label for="menu_item">Select Menu Item:</label>
            <select name="menu_item" id="menu_item">
                <option value="" selected></option>
                {% for item in menu_items %}
                    <option value="{{ item.menu_item_id }}">{{ item.menu_item_name }}</option>
                {% endfor %}
            </select>

            <label for="name">Name:</label>
            <input type="text" name="name" id="name">
            
            <label for="description">Description:</label>
            <textarea name="description" id="description"></textarea>
            
            <label for="price">Price:</label>
            <input type="number" name="price" id="price" step="0.01">
            
            <label for="ingredients">Ingredients:</label>
            <textarea name="ingredients" id="ingredients"></textarea>
            
            <label for="calorie">Calorie:</label>
            <input type="number" name="calorie" id="calorie">

            <label for="current_image">Current Image:</label>
            <img id="current_image_preview" src="">
            
            <label for="image">Upload Image:</label>
            <input type="file" name="image" id="image">
            
            <label for="category">Category:</label>
            <input type="text" name="category" id="category">

            <button type="submit">Update Menu Item</button>
        </form>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var dropdown = document.getElementById('menu_item');
                dropdown.addEventListener('change', function () {
                    var selectedMenuItemId = this.value;
                    if (selectedMenuItemId !== '') {
                        var request = new XMLHttpRequest();
                        request.open('GET', '/get-menu-item-details/' + selectedMenuItemId, true);
                        request.onreadystatechange = function () {
                            if (request.readyState == 4 && request.status == 200) {
                                var menu_item_details = JSON.parse(request.responseText);
        
                                document.getElementById('name').value = menu_item_details.menu_item_name;
                                document.getElementById('description').value = menu_item_details.menu_item_description;
                                document.getElementById('price').value = menu_item_details.menu_item_price;
                                document.getElementById('ingredients').value = menu_item_details.menu_item_ingredients;
                                document.getElementById('calorie').value = menu_item_details.menu_item_calorie;
                                document.getElementById('category').value = menu_item_details.menu_item_category;

                                var currentImagePreview = document.getElementById('current_image_preview');
                                currentImagePreview.src = menu_item_details.menu_item_image_url;
        
                            }
                        };
                        request.send();
                    }
                });
            });
        </script>
    </div>
</body>
</html>
