body {
    background: #fdf6e3;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
}

.menu-table {
    margin: auto;
    width: 80%;
}

.menu-table .table {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.menu-table th, .menu-table td {
    text-align: center;
    vertical-align: middle;
}

.menu-table th {
    background-color: #ff6600;
    color: #fff;
}

.menu-table .item-image img {
    height: 100px;
    width: auto;
    border-radius: 5px;
    margin-top: 10px;
}

.menu-table .ingredients, .menu-table .calories {
    font-size: 0.9em;
    color: #333;
}

.order-panel {
    position: fixed;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
}

.order-items {
    list-style: none;
    padding: 0;
}

.order-items li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.show-order-btn {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 100;
    padding: 10px 20px;
    background-color: #ff6600;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#menuItems button {
    background-color: #266136;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-top: 5px;
    border-radius: 5px;
    cursor: pointer;
}

#menuItems button:hover {
    background-color: #ff6600;
}

th {
    background-color: #ff6600;
    color: white;
}

tr:nth-child(even) {
    background-color: #f0f0f0;
}

td {
    color: black;
}

select {
    background-color: #ff6600;
    color: white;
    border: 1px solid #fff;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
}

select option {
    background-color: white;
    color: black;
}
