th {
    background-color:darkslategray;
    color:white;
}

tr:nth-child(even) {
    background-color:cadetblue;
}

td {
    background-color:darkgray;
    color:white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }