body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #333;
    color: #fff1ea;
}

h1 {
    color: #333;
}

.table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #4CAF50;
    color: white;
}

.table tr:hover {
    background-color: lightblue;
}
