<!DOCTYPE html>
<html lang="en">
<head>
  <title>Waiter Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/default.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="first">
        <div class ="content">
            <h1>Welcome, Waiter!</h1>
            <p>What would you like to do?</p>
            <a href="/view-orders" class="btn btn-lg btn-info" role="button">View Orders</a>
            <a href="/create-menu-item" class="btn btn-lg btn-warning" role="button">Create Menu Item</a>
            <a href="/update-menu" class="btn btn-lg btn-primary" role="button">Update Menu</a>
            <a href="/view-menu" class="btn btn-lg btn-success" role="button">View Menu</a>
            <a href="/check-reservations" class="btn btn-lg btn-warning" role="button">Check Reservations</a>
        </div>
    </div>
</body>
</html>
